<div id="hikes" class="position-absolute">
  <div>
<h1>Hikes disponibles</h1>
    
        {{#each hikes}}
          <div class="card" style="width: 18rem;">
            <img src="{{this.imageUrl}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">{{this.description}}</p>
              <p>Horario: {{this.time}}</p>
              <p>Lugar: {{this.location}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>