
<h1>Single Hike</h1>

<div class="card mb-3">
 {{#with data}}
  <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 id="time-location-single" class="card-title">{{this.location}}</h5>
    <p id="time-description-single" class="card-text">{{this.description}}</p>
    <p id="time-hike-single" class="card-text"><small class="text-muted">{{this.time}}</small></p>
  </div>
  <div class="card-footer">
    <form method="POST">
        <a href="/hikes/" class="btn btn-secondary"> Go back </a>
      </form>
  </div>
  {{/with}}
  {{#if owner}}
<form style="color: blue; margin-left:4%; margin-bottom:1%" method="POST">
        <a href="/hikes/edit" class="btn btn-primary"> Editar </a>
      </form>
  {{/if}}
</div>

