<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <h1 id="first-title-about" class="text-center">About</h1>
</div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom"></h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        
      </div>
      <div>
        <h2 class="title-about-hiking">Joining Hiking-Together</h2>
       <p class="about-text-hiking">Crea una cuenta, sube tu foto, tu horario y el lugar a donde vas a escalar, y encontrarás gente con tu misma pasión, con tus mismos horarios y en tu misma zona!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

      </div>
      <div>
        <h2 class="title-about-hiking">Ventajas del Senderismo </h2>
        <p class="about-text-hiking"> El hiking nos puede ayudar a mejorar nuestra salud cardiovascular, a incrementar el optimismo, y a generar un aumento en nuestra densidad ósea.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
      </div>
      <div>
        <h2 class="title-about-hiking">Enjoy Life</h2>
        <p class="about-text-hiking">Así que disfruta de nuevas aventuras, y genera experiencias maravillosas con nuevas amistades.</p>
      </div>
    </div>
  </div>
</div>



<div class="container px-4 py-5" id="custom-cards">
  <h2 id="text-title-images" class="pb-2 border-bottom">Join Us!</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div id="about-cover-first" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 id="text-img-about1" class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Hike More</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/about-men-logo.png" alt="Logo" width="32" height="32"
                class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>In 3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="about-cover-middle" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 id="text-img-about2" class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Worry Less</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/about-men-logo.png" alt="Logo" width="32" height="32"
                class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Pakistan</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>In 4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="about-cover" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 id="text-img-about3" class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Together</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/about-men-logo.png" alt="Logo" width="32" height="32"
                class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>California</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>In 5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>