<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
   <main class="px-3">
    <h1 class="text-center">About</h1>
    <ul class="lead">

        <li>Crea una cuenta, sube tu foto, tu horario y tu delegación</li>
        <li>y encontrarás gente con tu misma pasión,</li>
        <li>con tus mismos horarios y en tu zona!</li>
        </ul>
  </main>

  <footer class="mt-auto text-white-50 fixed-bottom">
    <p>Una app de <a href="#" class="text-white">Javier</a>, y <a href="#" class="text-white">Pablovicho.</a> <br>
    Fotos de <a href="#" class="text-">Luis Boullosa Photo</a></p>
  </footer>
</div>