



<p id="title-places-extra" class="text-center">MEJORES LUGARES PARA ESCALAR EN MÉXICO</p>

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading title-extra-card"> Barrancas del Cobre, <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
            Se trata de las barrancas más largas y profundas; incluso más que las del Gran Cañón de
            Arizona.
            El tono cobrizo de sus paredes rocosas caracteriza y da nombre a este majestuoso lugar en el cual puedes
            hacer
            diversas actividades al aire libre como acampar, avistar aves y admirar la contrastante vegetación a lo
            largo de todo el recorrido.
        </p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-card-extra" width="500"
            height="500" src="/images/barrancaCobre.jpg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
        <title></title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </img>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading title-extra-card"> Volcán Iztaccíhuatl, <span class="text-muted">Oh yeah, it’s that good.</span></h2>
            <p class="lead">
                El volcán conocido como “La Mujer Dormida” es uno de los destinos perfectos para quienes son aficionados
                al senderismo o trekking.

                Dentro del Parque Nacional Izta-Popo-Zoquiapan reposa el volcán Iztaccíhuatl, con 5.283 metros de altura
                sobre el nivel del mar, que lo convierte en la tercera cumbre más alta de México. Debes saber que el
                Iztaccíhuatl no es solo un volcán, sino que en realidad son cinco volcanes que dibujan a la majestuosa
                mujer dormida.

                ¡Es todo un reto que vale la pena lograr!
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-card-extra" width="500"
                height="500" src="/images/izta.jpg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
            <title></title>
            <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </img>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading title-extra-card"> Nevado de Toluca, <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">
                Escala la cuarta montaña más grande de México, ubicada a más de una milla sobre el nivel del suelo. Es
                ideal tanto para principiantes, como para entusiastas de las excursiones al aire libre, ya que sus
                caminatas se pueden adaptar a varios niveles.

                Visita las lagunas gemelas y maravíllate con el increíble paisaje. Durante este paseo estarás rodeado de
                vegetación de bosques de pino, oyamel y pastizal alpino. ¡Prepara tu cámara y captura las mejores tomas!

                La época perfecta para visitarlo y disfrutar del paisaje nevado es a finales de noviembre, diciembre y
                enero. Sin duda es un paseo que vale la pena hacer.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-card-extra" width="500"
                height="500" src="/images/nevado2.jpg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
            <title></title>
            <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </img>
        </div>
    </div>
    <hr class="featurette-divider">



    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2021 Javier y Pablovicho · Company, Inc</p>
        </footer>
    </div>