<div id="home-page-features" class="row">
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115"
            src="https://images.pexels.com/photos/7454872/pexels-photo-7454872.jpeg" role="img"
            aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title></title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Welcome</h2>
        <p>No pierdas la oportunidad de crear experiencias únicas e irreptibles, que llenarán tu vida de alegría y bellos recuerdos. </p>
        <p><a class="btn btn-warning" href="#"> Just </a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115"
            src="https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg" role="img"
            aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title></title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>To Hiking</h2>
        <p> La pasión por la aventura se mantiene intacta y se vuelve algo para compartir en familia y con amigos.</p>
        <p><a class="btn btn-warning" href="#">Hike </a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115"
            src="https://images.pexels.com/photos/4293575/pexels-photo-4293575.jpeg" role="img"
            aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title></title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Together</h2>
        <p>¡Descubre paisajes increíbles, y descúbrete a ti mismo!</p>
        <p><a class="btn btn-warning" href="#">It </a></p>
    </div><!-- /.col-lg-4 -->
</div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Javier y Pablovicho · Company, Inc</p>
    </footer>
</div>


