
<div id="home" class="cover-container d-flex w-100 h-100 mh-100 p-3 mx-auto flex-column text-center">
   <main class="px-3">
    <h1>Hiking together</h1>
    <p class="lead">¡Entra a la aventura!</p>
  </main>

<div class="container">
  <img src="/images/portada_luis2.png" alt="" class="index w-50 mw-50">
</div>

<div class="flex-row justify-content-end" style="margin-top: -12%;">
<button type="button" class="btn btn-outline-light me-2 bg-info">
            <a style="color:black;" href="/auth/login"> Log In </a>
          </button>
          <button type="button" class="btn btn-outline-light me-2 bg-info">
            <a style="color: black;" href="/auth/signup"> Sign-up </a>
          </button>

  <footer class="mt-auto text-white-50 fixed-bottom">
    <p>Una app de <a href="#" class="text-white">Javier</a>, y <a href="#" class="text-white">Pablovicho.</a> <br>
    Fotos de <a href="#" class="text-">Luis Boullosa Photo</a></p>
  </footer>
</div>
</div>