
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/carousel1.jpeg" class="d-block w-100" alt="carousel-photo">
        <div class="container">
          <div class="carousel-caption">
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/login">Login</a></p>
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/signup">Signup</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/carousel2.jpeg" class="d-block w-100" alt="carousel-photo">
        <div class="container flex-row">
          <div class="carousel-caption">
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/login">Login</a></p>
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/signup">Signup</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/carousel4.jpeg" class="d-block w-100" alt="carousel-photo">
        <div class="container">
          <div class="carousel-caption">
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/login">Login</a></p>
            <p><a class="btn btn-outline-light me-2 bg-info" href="/auth/signup">Signup</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<div id="home-page-features" class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115" src="https://images.pexels.com/photos/7454872/pexels-photo-7454872.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Welcome</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115" src="https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Hiking</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="115" height="115" src="https://images.pexels.com/photos/4293575/pexels-photo-4293575.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Together</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>




<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Javier y Pablovicho · Company, Inc</p>
  </footer>
</div>

