
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



.sectionA {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#signup-title {
  text-align: center;
}


#login-title {
  text-align: center;
}



#login-form-space{
  margin-bottom: 3rem;
}



#sign-form {

  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: block;
}


#button-login {

  margin-top: 3rem;
 
}




#image-login {
  margin-left: 3.5rem;
}


.label-form{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  color: black;

}


.carousel {

  margin-bottom: 4rem;
  position: relative;
  box-sizing: border-box;
  display: block;
  line-height: var(--bs-body-line-height);
  color: #5a5a5a;
  box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    box-sizing: border-box;
}



