
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



.sectionA {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#signup-title {
  text-align: center;
}


#login-title {
  text-align: center;
}



#login-form-space{
  margin-bottom: 3rem;
}



#sign-form {

  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: block;
}


#button-login {

  margin-top: 1rem;
 
}



.image-login {
  margin-left: 0.8rem;
  margin-top: 5%;
  text-align:center;
  height:110%;
  size: 80%;
  z-index: 20;
  position: relative
}


.label-form{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  color: black;

}



.carousel {

  margin-bottom: 4rem;
  position: relative;
  box-sizing: border-box;
  display: block;
  line-height: var(--bs-body-line-height);
  color: #5a5a5a;
  box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    box-sizing: border-box;
}




#text-username-profile {

  color: #e6fff7;
  text-align: center;
  margin-top: 1rem;
}



#text-email-profile {

  color: #003323;
  text-align: center;
  

}



#hikes-available {
  color: rgb(165, 17, 17);
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 8.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}




.logo-foto{

  max-width: 100%;
  height: auto;
  

}


#create-title{

  text-align: center;


}



#location-hike-card{

  color: rgb(187, 93, 93);
  text-align: center;
}



#description-hike-card {

  color: rgb(187, 93, 93);
  text-align: center;

}



#time-hike-card{

  color: rgb(187, 93, 93);
  text-align: center;

}




#time-location-single {

  color: rgb(187, 93, 93);
  text-align: center;

}



#time-description-single {

  color: rgb(187, 93, 93);
  text-align: center;

}


#time-hike-single {

  color: rgb(187, 93, 93);
  text-align: center;
}



.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}


/* @media (min-width: 576px)
.container, .container-sm {
    max-width: 540px;
}
 */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
 
  margin-right: auto;
  margin-left: auto;
}


::after, ::before {
  box-sizing: border-box;
}



#about-cover-first {

  background-image:url(/images/about1.jpeg);
  background-position: center center;
  background-size: cover;
  border-radius: 1rem;

}


#about-cover-middle {


  background-image:url(/images/about2.jpeg);
  background-position: center center;
  background-size: cover;
  border-radius: 1rem;
  


}


#about-cover {

  background-image:url(/images/about3.jpeg);
  background-position: center center;
  background-size: cover;
  border-radius: 1rem;


}



.about-text-hiking{

  margin-top: 2rem;
  color: rgb(161, 113, 80);
  text-align: center;
}


.title-about-hiking{

  color: rgb(224, 136, 36);
  text-align: center;
}


#text-img-about1 {

  color: rgb(224, 136, 36);
  text-align: center;
}


#text-img-about2 {

  color: rgb(224, 136, 36);
  text-align: center;
}


#text-img-about3 {

  color: rgb(224, 136, 36);
  text-align: center;
}


#text-title-images {

  text-align: center;
  color: rgb(158, 9, 9);

}


#first-title-about {

  text-align: center;
  color: rgb(158, 9, 9);

}


#home-page-features {

  align-items: center;
  text-align: center;
  margin: 4rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

}

.index img {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  min-width: 50%;
  max-height: 250px;
  margin-bottom: 1rem;
}

#profile {
  background-color: #4F97A3
}

/*  #navbar {
  z-index: 30;
  position: relative
}

#navbar2 {
  z-index: 30;
  position: relative

} */
 
#creador-hikecard{

  background-color: #3a76a1;
  padding: 2rem;

}

.buttons-home {

  margin-right: 0.2rem;
  margin-left: 0.2rem;


}


.border-bottom {
  border-bottom: 3px solid rgb(211, 208, 50) !important;
  border-bottom-color: rgb(235, 205, 41);
  
}