
{{#if currentUser}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #079798;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/hikes">Hiking Together</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="offcanvas-header">
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/user/{{currentUser.name}}">Mi perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/hikes">Hikes</a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-white" href="/hikes/crear">Crea tu Hike</a>
          </li>
        <form class="d-flex" action="/auth/logout" method="POST">
        <button type="submit" class="btn btn-primary">Cerrar sesión</button>
        </form>
      </div>
    </div>
  </div>
</nav>
{{else}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4783ad;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Hiking Together</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active text-white" href="/about">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="/faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="/extra">Lugares</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}



