{{#if currentUser}}
<header id="navbar" class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/hikes" class="nav-link px-2 text-white">Hikes</a></li>
        <li><a href="/user/{{currentUser.name}}" class="nav-link px-2 text-white">Mi perfil</a></li>
        <li><a href="/hikes/crear" class="nav-link px-2 text-white">Crear Hike</a></li>
        <form style="color: brown;" action="/auth/logout" method="POST">
        <button type="submit" class="btn btn-primary">Log Out</button>
      </form>
      </ul>


      

      {{else}}

      <header id="navbar2" class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
              </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>

            </ul>

          </div>
        </div>
    </div>
</header>
{{/if}}








