<div class="position-relative"></div>
{{#if currentUser}}
<div>
    <p style="color: brown;">Hola! {{currentUser.name}}   </p>
</div>
<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <img src="http://cdn.onlinewebfonts.com/svg/img_264157.png" class="card-img-top" alt="...">
    <h5 id="text-username-profile" class="card-title">{{currentUser.name}}</h5>
    <p id="text-email-profile" class="card-text"> Your Email: {{currentUser.email}} </p>
    <a href="/auth/edit" class="card-link text-center">Edit Profile</a>
</div>
{{/if}}
</div>

