


<div class="position-relative">
{{#if currentUser}}
<div id="profile" class="card " style="width: 18rem; margin-top: 10%">
    <img src="{{currentUser.imageUrl}}" class="card-img-top" alt="...">
    <h5 id="text-username-profile" class="card-title text-white" style="font-size:1.5em">¡Hola, {{currentUser.name}}!</h5>
    <p id="text-email-profile" class="card-text"> Tu Email: {{currentUser.email}} </p>
    <a href="/user/edit/{{currentUser._id}}" class="btn btn-outline-light me-2 bg-light w-100 text-center" style="color:#4F97A3; font: weight 750px;">Editar Perfil</a>
</div>
{{/if}}  
</div>





