<main class="form-signin">
  <form id="sign-form" action="/auth/signup" method="post">
    
      <img class="logo-foto image-login mb-4 rounded-circle justify-content-center img-fluid rounded-circle" style="margin-left: 0px; margin-top:0%; max-width:65%; display: block; margin-right: auto; margin-left: auto;" src="/images/logo-auth.png" alt="...">
    <h1 class="h3 mb-3 fw-normal">¡Regístrate!</h1>
    <h6><a href="/auth/login" class="link-danger">O ingresa con tu cuenta</a></h6>
    <div class="form-floating">
      <input name="email" type="email" class="form-control"  placeholder="Rolo@gmail.com">
      <label class="label-form" for="email">Email</label>
    </div>
    <div class="form-floating">
      <input name="name" type="name" class="form-control"  placeholder="rolo21">
      <label class="label-form" for="name">Nombre de usuario</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control"  placeholder="Password">
      <label class="label-form" for="password">Password</label> 
    </div>
     <div class="form-floating">
      <input name="imageUrl" type="imageUrl" class="form-control"  placeholder="Image Profile">
      <label class="label-form" for="imageUrl">Imagen de perfil</label> 
    </div>


    <button id="button-login" class="w-100 btn btn-lg bg-warning" type="submit">Registrarse</button>
    <p class="mt-5 mb-3 text-muted">© 2021–2021</p>
    
    {{#if msg}}
    <p class="text-red-400"> {{msg}} </p>
    {{/if}}
  </form>
</main>


