<main class="form-signin">
  <form id="sign-form" action="/auth/signup" method="post">
    <img id="image-login" class="mb-4"
      src="https://o.remove.bg/downloads/c5fed2d0-e111-42e2-b7d8-4bb53a870152/adventure-travel-area-climbing-silhouette-backpacking-removebg-preview.png"
      alt="" width="170" height="120">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <h6><a href="/auth/login" class="link-danger">Or Login</a></h6>
    <div class="form-floating">
      <input name="email" type="email" class="form-control"  placeholder="Rolo@gmail.com">
      <label class="label-form" for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input name="name" type="name" class="form-control"  placeholder="rolo21">
      <label class="label-form" for="name">Username</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control"  placeholder="Password">
      <label class="label-form" for="password">Password</label> 
    </div>

    <button id="button-login" class="w-100 btn btn-lg btn-danger" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">© 2021–2021</p>
    
    {{#if msg}}
    <p class="text-red-400"> {{msg}} </p>
    {{/if}}
  </form>
</main>


